.btn-twitter {
  background-color: #00aced; }

.btn-facebook {
  background-color: #3b5998; }

.btn-instagram {
  background-color: #cd486b; }

.social-media-ic {
  padding: 10px;
  font-size: 20px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 20%; }

.social-media-ic:hover {
  opacity: 0.7;
  text-decoration: none;
  color: white; }

.social {
  margin-right: 25px;
  float: right;
  margin-top: 6px; }
